html,
body {
  padding: 0;
  margin: 0;
  font-family: "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* gray background */
  background-color: #f5f5f5;
  overscroll-behavior: none;
  scrollbar-width: none;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* .tiptap > *:first-child {
  text-box-trim: trim-start;
  text-box-edge: cap alphabetic;
} */
